<!DOCTYPE html>
<html>
    <head>
        <style>
            table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            }

            td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            }
        </style>
    </head>
    <h3>Reisekostenübersicht {{März 2023}}</h3>
    </br>
    <table>
        <tr>
            <th>Zeitraum</th>
            <th>Kunde</th>
            <th>Ort</th>
            <th>Zweck</th>
            <th>Ausgaben</th>
        </tr>
        <tr>
            <td>01.03.2023 - 04.03.2023</td>
            <td>BANK-now</td>
            <td>Horgen</td>
            <td>Vor Ort Betreuung</td>
            <td>
                <table>
                    <tr>
                        <th>Datum</th>
                        <th>Art</th>
                        <th>Betrag</th>
                        <th>Nachweis</th>
                    </tr>
                    <!--tr>
                        <td>01.03.2023</td>
                        <td>Taxi</td>
                        <td>50</td>
                        <td>
                            <a href="https://firebasestorage.googleapis.com/v0/b/milan-adf44.appspot.com/o/test%2F1677404487899_0340-1650-2012-11-583.pdf?alt=media&token=baa56963-e265-4e79-adce-afc237b08ceb">Beleg</a>
                        </td>
                    </tr-->
                </table>
            </td>
        </tr>
    </table>
</br>
    <p>Schöne Grüße</p>
</html>
